.Card {
    color: #FFF;
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
 
}
.Card .Titulo{
    padding: 10px 0px;
    color: #FFF;
    display: flex;
    justify-content: center;
}

.Card .Conteudo{
    background-color: #FFF;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-grow: 1;;

}